* {
	box-sizing: border-box;
}
html,body {
	margin:0px;
	padding:0px;
	background:#231F1F;
	color: #FFF;
	font-family: 'Archivo Narrow', sans-serif;
	box-sizing: border-box;
}

.title {
	text-align: center;
}
.title h2 {
	margin: 10px 0;
}

.controller{
	height: 300px;
	text-align:center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 10px;
}

.door-title h2 {
	margin: 15px 0;
	text-shadow: 2px 2px 0px rgba(30, 30, 30, 0.8);
}
.activation-button {
	margin-top: -15px;
}
.status-line {
	height: 26px;
	background-color: #000;
	color: #c3c3c3;
  margin: 0 auto;
  border-radius: 10px;
  /* box-shadow: inset 0 -7px 20px -7px #9a9695; */
  width: 180px;
	display: flex;
  flex-direction: column;
  justify-content: center;

}
.controller-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 660px;
	margin: 0 auto;
	justify-content: space-around;
}

.controller {
	width: 260px;
	background-color: gray;
	border-radius: 20px;

}
.door-opening{
	display:none;
}
div.activation-button button {
	padding:0;
  color: #fff;
  background-color: #a21b1b;
  border: none;
	width: 160px;
	height: 160px;
  border-radius: 80px;
  box-shadow: 4px 7px 1px #331515;
	font-size: 36px;
	text-shadow: 3px 2px 0px rgba(30, 30, 30, 0.8);
	font-family: inherit;
	text-decoration: none;
}

div.activation-button button:hover {
  background-color: #b11c1c;
}

div.activation-button button:focus{
	outline:0;
}

div.activation-button button:active, div.activation-button button.disabled-button,
div.activation-button button.disabled-button:active {
  background-color: #096509;
  box-shadow: -1px -1px 0 3px #1e3811;
  transform: translateX(4px) translateY(7px);
	text-shadow: none;
}
#cameraViewport {
	text-align: center;
}
#cameraImg {
	max-width: 600px;
	border-radius: 20px;
}
#cameraImg.full-size-viewport {
	max-width: 90%;
}
#cameraSelection {
	text-align: center;
}
#cameraSelection ul {
	padding: 0;
}
#cameraSelection span {
	padding-right: 10px;
}
#cameraSelection ul li {
	padding-right: 10px;
	display: inline-block;
}
#cameraSelection ul li:last-of-type {
	padding-right:0;
}
#cameraSelection ul li.nav-heading {
	display: inline-block;
}
#cameraSelection ul li.nav-heading ul {
	display: inline;
}
#cameraSelection ul li a {
	text-decoration: none;
	color: #a2a2a2;
}
#cameraSelection ul li a:hover {
	color: #fff;
}
@media only screen and (max-width: 767px) {
	.controller-wrapper {
		flex-direction: row;
		width: 100%;
		align-items: center;
		max-width: 320px;
		margin-top: 10px;
	}
	.controller {
    height: auto;
		width: 100%;
    margin: 0 10px 10px;
		padding: 10px;
	}
	.controller:last-child {
		margin-left: 0;
	}
	.title h2 {
		display: none;
	}
	.door-title h2 {
		margin: 0;
		font-size: 18px;
	}
	.status-line {
		width: auto;
		font-size: 16px;
		padding: 2px 8px;
	}
	.activation-button {
		margin: 10px 0 15px;
	}
	div.activation-button button {
		min-width: 120px;
		width: 100%;
		padding: 40px 5px;
		height: auto;
		border-radius: 18px;
		font-size: 22px;
	}
	#cameraImg,
	#cameraImg.full-size-viewport {
		max-width: 100%;
		border-radius:10px;
	}
	#cameraSelection {
		padding-left: 4px;
		padding-right: 4px;
	}
	#cameraSelection ul {
		margin-top: 0;
		margin-bottom: 0;
	}
	#cameraSelection span {
		display: none;
	}
	#cameraSelection ul li.nav-heading {
		margin-top: 8px;
	}
}
